@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --dark-grey: #232526;
  --grey: #4f5253;
  --light-grey: #666;
  --very-light-grey: #ccc;
  --orange: #ed8e26;
  --white: #ffffff;
}

body {
  position: relative;
  display: flex;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #232526,
    #2d3031,
    #383b3c,
    #434647,
    #4f5253
  );
  background-attachment: fixed;
  background-image: repeating-radial-gradient(
      circle at -1000px -1000px,
      transparent 0,
      #383b3c 10px
    ),
    repeating-linear-gradient(#232526, #4f5253);
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: start;
  align-items: center;
  background-color: var(--dark-grey);
  border-right: var(--orange) 2px solid;
  border-bottom: var(--orange) 2px solid;
  width: 100px;
  position: absolute;
  z-index: 100;
}

.min-height-100 {
  min-height: 100% !important;
}

.overflow-hidden {
  overflow: hidden;
}

.noscroll {
  overflow: hidden;
}

/* logo */

.logo {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: var(--orange);
  border-bottom: var(--orange) 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}

svg path {
  fill: var(--dark-grey);
}

.logo svg {
  width: 100%;
}

.logo svg path#code {
  transition: 0.2s ease-in;
}

.logo:hover svg path#code {
  fill: var(--orange);
}

.logo:hover {
  background-color: var(--very-light-grey);
}

/* main-nav-bar */

.main-nav-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 50px;
}

.main-nav-bar a i {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin: 16px 0;
  transition: color 0.2s ease-in;
}

.main-nav-bar a i:hover {
  color: var(--orange);
}

.relative {
  position: relative;
}

/* secondary-nav-bar */

.secondary-nav-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  height: 100%;
}

.secondary-nav-bar a i {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  transition: color 0.2s ease-in;
}

.secondary-nav-bar a i:hover {
  color: var(--orange);
}

/* main index*/

main.index-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-left: 100px;
}

/* light div */

.light-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      var(--very-light-grey) 10px
    ),
    repeating-linear-gradient(var(--very-light-grey), var(--white));
  visibility: hidden;
}

.visibility {
  visibility: visible;
}

section.container {
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section .main-text {
  position: relative;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section.container .main-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  display: inline;
  margin-left: 18%;
}

/* small code tag decoration */

section.container .main-text h1.start {
  font-size: 1rem;
  color: var(--light-grey);
  position: absolute;
  top: 5%;
  left: -10%;
}

section.container .main-text h1.ending {
  font-size: 1rem;
  color: var(--light-grey);
  position: absolute;
  right: 20%;
  bottom: 2%;
}

section.container .main-image {
  width: 50%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* buttons */

.main-buttons {
  margin-bottom: 20px;
}

.btn {
  padding: 15px 40px;
  margin-right: -6px;
  width: 230px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: inherit;
  border: 2px solid var(--orange);
  background-color: var(--very-light-grey);
  color: var(--dark-grey);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.newPortfolioBtn {
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  background-color: var(--orange);
  background-color: transparent;
  color: var(--very-light-grey);
}
.newPortfolioBtn:hover {
  color: var(--dark-grey);
  background-color: var(--very-light-grey);
}
.view-projects-btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--orange);
}

.contact-me-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  color: var(--very-light-grey);
}

.view-projects-btn:hover {
  background-color: var(--very-light-grey) !important;
}

.contact-me-btn:hover {
  background-color: var(--very-light-grey);
  color: var(--dark-grey);
}

/* mode */

.mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1%;
}

.mode-text {
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--orange);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--very-light-grey);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* date */

.date {
  position: fixed;
  top: 2%;
  right: 3%;
}

.day,
.month,
.year {
  color: var(--very-light-grey);
  letter-spacing: 3px;
  font-weight: bold;
}

/* time */

.time {
  position: fixed;
  top: 5%;
  right: 3.8%;
  border-radius: 10px;
  padding: 5px 12px;
}

.hour,
.min,
.sec,
.colon {
  color: var(--orange);
  letter-spacing: 3px;
  font-weight: bold;
}

.colon {
  animation: colonBeep 1s infinite;
}

/* utility classes */

.not-active {
  color: var(--very-light-grey);
}

.light-color {
  color: var(--very-light-grey);
}

.dark-color {
  color: var(--dark-grey);
  border-color: var(--dark-grey);
}

.dark-back {
  background-color: var(--dark-grey);
  color: var(--very-light-grey);
}

.transparent-back {
  background-color: transparent;
}

small {
  color: var(--dark-grey);
}

ul li {
  color: var(--dark-grey);
}

/* ABOUT PAGE  */

.about-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-left: 100px;
}

.about-container {
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
}

.avatar-container {
  max-height: 250px;
  width: 250px;
  margin: 20px auto;
}

.avatar-container img {
  width: 100%;
  overflow: hidden;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.about-text-h2 {
  font-size: 2rem;
  color: var(--orange);
}

.about-text {
  margin-top: 40px;
  font-size: 1.3rem;
}

.about-email {
  margin-top: 20px;
  letter-spacing: 5px;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
  margin-bottom: 100px;
}

.logos-container div {
  width: 50px;
  margin-right: 20px;
}

.logos-container div img {
  width: 100%;
}

/* PROJECTS PAGE */

.main-projects {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin-left: 100px;
}

section.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.project-title {
  margin: 100px auto;
  font-size: 2rem;
}

.grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}

.grid .project {
  width: 200px;
  height: 250px;
  border: 2px solid var(--orange);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid .project a {
  padding: 10px 20px;
  width: 150px;
  font-size: 1rem;
  font-family: inherit;
}

.project-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}

.project-text {
  color: var(--dark-grey);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-text-div ul {
  list-style: none;
}

/* project images */

.project0-image {
  background: url("/images/projectimages/pokemon.png") no-repeat center
    center/cover;
  height: 50%;
}

.project1-image {
  background: url("/images/projectimages/online-cv-preview1.png") no-repeat
    center center/cover;
  height: 50%;
}

.project2-image {
  background: url("/images/projectimages/weather.png") no-repeat center
    center/cover;
  height: 50%;
}

.project3-image {
  background: url("/images/projectimages/gym.png") no-repeat center center/cover;
  height: 50%;
}

.project4-image {
  background: url("/images/projectimages/shoppinglist.png") no-repeat center
    center/cover;
  height: 50%;
}

.project5-image {
  background: url("/images/projectimages/savoury.png") no-repeat center
    center/cover;
  height: 50%;
}

.project6-image {
  background: url("/images/projectimages/philsrecipes.png") no-repeat center
    center/cover;
  height: 50%;
}

.project7-image {
  background: url("/images/projectimages/solar.png") no-repeat center
    center/cover;
  height: 50%;
}

.project8-image {
  background: url("/images/projectimages/coolloginform.png") no-repeat center
    center/cover;
  height: 50%;
}

.project9-image {
  background: url("/images/projectimages/worldcontries.png") no-repeat center
    center/cover;
  height: 50%;
}

.project10-image {
  background: url("/images/projectimages/mapofitaly.png") no-repeat center
    center/cover;
  height: 50%;
}

.project11-image {
  background: url("/images/projectimages/portfolio.png") no-repeat center
    center/cover;
  height: 50%;
}

.project12-image {
  background: url("/images/projectimages/myfood.png") no-repeat center
    center/cover;
  height: 50%;
}

.project13-image {
  background: url("/images/projectimages/contacts.png") no-repeat center
    center/cover;
  height: 50%;
}

.project14-image {
  background: url("/images/projectimages/cinemix.png") no-repeat center
    center/cover;
  height: 50%;
}

.project15-image {
  background: url("/images/projectimages/mymoney.png") no-repeat center
    center/cover;
  height: 50%;
}

.github-repo1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 4;
}

.project-link1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 4;
}

.project:hover .pseudo {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.project:hover .github-repo1 {
  opacity: 1;
  border-radius: 10px;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.project:hover .project-link1 {
  opacity: 1;
  border-radius: 10px;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.github-repo1:hover {
  color: var(--very-light-grey);
  background-color: transparent;
}

.project-link1:hover {
  color: var(--very-light-grey);
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.hidden-display {
  display: none;
}

/* SETTINGS PAGE */

.settings-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-left: 100px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.color-alert {
  display: block;
  margin-top: 20px;
  height: 20px;
}

.color-selection {
  margin: 100px 0;
  display: flex;
}

.color1 {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  background-color: var(--orange);
  color: transparent;
  margin-right: 10px;
  border: 2px solid var(--very-light-grey);
  border-radius: 50%;
  transition: 0.3s ease;
}

.color2 {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #2a9d8f;
  color: transparent;
  margin-right: 10px;
  border: 2px solid var(--very-light-grey);
  border-radius: 50%;
  transition: 0.3s ease;
}

.color3 {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #b1e84a;
  color: transparent;
  margin-right: 10px;
  border: 2px solid var(--very-light-grey);
  border-radius: 50%;
  transition: 0.3s ease;
}

.color4 {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #ff87ab;
  color: transparent;
  margin-right: 10px;
  border: 2px solid var(--very-light-grey);
  border-radius: 50%;
  transition: 0.3s ease;
}

.color:hover {
  transform: scale(1.1);
}

.alert {
  font-size: 1.2rem;
}

.active {
  color: var(--orange);
}

/* color change on click */

.orange-background-color {
  background-color: #ed8e26;
}

.orange-color {
  color: #ed8e26;
}

.orange-background-image {
  background-image: linear-gradient(
    to right bottom,
    #ffdfc4,
    #ffc491,
    #f8a95e,
    #ed8e26
  );
}

.orange-border-color {
  border-color: #ed8e26 !important;
}

.orange-border-right {
  border-right-color: #ed8e26;
}

.orange-border-bottom {
  border-bottom-color: #ed8e26;
}

.blue-background-color {
  background-color: #2a9d8f;
}

.blue-color {
  color: #2a9d8f;
}

.blue-background-image {
  background-image: linear-gradient(
    to right bottom,
    #f2fffd,
    #c4e6e1,
    #96cec5,
    #66b5aa,
    #2a9d8f
  ) !important;
}

.blue-border-color {
  border-color: #2a9d8f !important;
}

.blue-border-right {
  border-right-color: #2a9d8f;
}

.blue-border-bottom {
  border-bottom-color: #2a9d8f;
}

.green-background-color {
  background-color: #b1e84a;
}

.green-color {
  color: #b1e84a;
}

.green-border-right {
  border-right-color: #b1e84a;
}

.green-border-bottom {
  border-bottom-color: #b1e84a;
}

.green-background-image {
  background-image: linear-gradient(
    to right bottom,
    #fbfff4,
    #e9facc,
    #d7f4a4,
    #c5ee7a,
    #b1e84a
  );
}

.green-border-color {
  border-color: #b1e84a !important;
}

.pink-background-color {
  background-color: #ff87ab;
}

.pink-color {
  color: #ff87ab;
}

.pink-border-right {
  border-right-color: #ff87ab;
}

.pink-border-bottom {
  border-bottom-color: #ff87ab;
}

.pink-background-image {
  background-image: linear-gradient(
    to right bottom,
    #fff8fa,
    #ffdde7,
    #ffc1d4,
    #ffa5c0,
    #ff87ab
  );
}

.pink-border-color {
  border-color: #ff87ab !important;
}

.transparent {
  background-color: transparent;
}

.display-block {
  display: block;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered {
}
@keyframes colonBeep {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ------------------- MEDIA QUERIES ------------------- */

/* MAX WIDTH */

@media (max-width: 1300px) {
  section.container .main-text h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 1100px) {
  .avatar-container {
    margin-top: 40px;
    width: 180px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 100px));
  }
}

@media (max-width: 900px) {
  section.container {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  section.container .main-text {
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  section.container .main-image {
    width: 300px;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
  section.container .main-text h1 {
    font-size: 1.6rem !important;
  }

  section.container .main-image svg {
    width: 200px;
  }
  .mode {
    top: 0;
  }

  .hour,
  .min,
  .sec,
  .colon {
    font-size: 0.8rem;
  }

  .day,
  .month,
  .year {
    font-size: 0.8rem;
  }

  /* media buttons */

  .btn {
    padding: 15px 20px;
    margin-right: -px;
    margin-top: 40px;
    width: 170px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: inherit;
    border: 2px solid var(--orange);

    cursor: pointer;
    transition: 0.2s ease-in;
  }

  .view-projects-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .contact-me-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .view-projects-btn:hover {
    background-color: var(--very-light-grey);
  }

  .contact-me-btn:hover {
    background-color: var(--very-light-grey);
    color: var(--dark-grey);
  }

  /* media about */

  .about-container {
    width: 80%;
    margin-top: 50px;
  }

  .avatar-container {
    width: 140px;
    margin-bottom: 20px;
  }

  .about-text-h2 {
    font-size: 1.5rem;
  }

  .about-text {
    margin-top: 20px;
    font-size: 1rem;
  }

  .logos-container div img {
    width: 30px;
  }

  /* projects */

  .project-link1 {
    top: 0%;
  }

  .github-repo1 {
    top: 40%;
  }

  /* settings page */
  .color1,
  .color2,
  .color3,
  .color4 {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 700px) {
  .color1,
  .color2,
  .color3,
  .color4 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  /* header {
    min-height: 120%;
    justify-content: flex-start !important;
  } */

  /* .main-nav-bar {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .light-div {
    height: 120%;
  } */

  section.container {
    margin-bottom: 20px;
  }
  section.container .main-text {
    width: 280px;
  }

  section.container .main-text h1 {
    font-size: 1.5rem;
  }

  section.container .main-image {
    width: 280px;
  }

  section.container .main-image svg {
    width: 150px;
  }

  .date {
    opacity: 0;
  }

  .time {
    opacity: 0;
  }

  /* media buttons */

  .btn {
    width: 130px;
    padding: 15px 10px;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  /* media about */

  .about-container {
    margin-top: -40px;
    margin-bottom: 0px;
    width: 80%;
  }

  .mode {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .mode-text {
    font-size: 0.5rem;
  }

  .avatar-container {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .about-text-container {
    margin-bottom: -10px;
  }

  .about-text-h2 {
    font-size: 1.2rem;
    color: var(--orange);
  }

  .about-email {
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 0.7rem;
  }

  .about-text {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
  }

  .logos-container {
    margin-bottom: 40px;
  }

  .logos-container div {
    padding: 2px;
    width: 20px;
    margin-right: 20px;
  }

  .logos-container div img {
    width: 20px;
  }

  /* projects */

  .go-to-top {
    display: block;
  }

  /* color */

  .settings-container {
    margin: 50px 0;
  }

  .settings-title {
    font-size: 1.1rem;
  }

  form.color-selection {
    display: flex;
    flex-direction: column;
  }

  .color1 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .color2 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .color3 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .color4 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
}

/* MAX HEIGHT */
